body {
    background-color: black;
    color: green;
}
hr {
    color: rgba(0, 128, 0, 0.547);
}
.p1 {
    text-align: right;
}
.p2 {
    background-color: yellow;
    color: pink;

}
.p3 {
    background-color: pink;
    color: red;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.p4 {
    background-color: red;
    
    color: blue;
}

.p5 {
    background-color: blue;
    color: yellow;
}

